<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <title>MarkedList</title>
    <style>
      [v-cloak] {
        display: none;
      }

      .marked {
        color: #efc14e;
      }
    </style>
  </head>
  <body>
    <div id="app" style="margin-top: 2rem" v-cloak>
      <div class="container">
        <div class="form-group">
          <input
          type="search"
          v-model="search"
          />
        </div>
        <ul>
          <li
          v-for="email in emails"
          :class="{ 'marked': filteredEmails.includes(email) }"
          >{{ email }}</li>
        </ul>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
